@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.paint-dashed-border {
  --border-thickness: 2;
  --border-length: 4;
  --border-gap: 8;
  --border-dash-cap: round;
  --border-color: white;
  background: paint(dashed-border);

  &:hover {
    --border-thickness: 2;
    --border-length: 100;
    --border-gap: -1;
    --border-color: white;
  }
}
